:ruby
  base = "#{root}/source/fonts"
  baseurl = "/fonts"
  css = ""


- %w{heading body}.each do |type|

  / - Dir.glob("#{base}/#{type}/*").each do |font|
  /   - font_file = font.split(/\//).last

  /   - font_family = font_file.split(/-/).first.titleize
  /   - format = process_format font_file
  /   - style = font_file.downcase[/ital/] || font_file[/It\./] ? "italic" : "normal"
  /   - weight = process_weight font_file

  /   - css += capture_haml do
  /     :sass
  /       @font-face
  /         font-family: "#{font_family}"
  /         font-style: #{style}
  /         font-weight: #{weight}
  /         src: url("#{baseurl}/#{type}/#{font_file}") format("#{format}")

  - css += capture_haml do
    :sass
      #{type.gsub(/heading/, 'h1,h2,h3,h4,h5,h6')}
        font-family: "Open Sans", sans-serif

= css.gsub(/<\/{,1}style>/, '').squeeze("\n")
